* {
  overflow: hidden;
  cursor: crosshair;
  /* background: aquamarine; */
}

.bubble {
  position: absolute;
  border-radius: 300px;
  background: aquamarine;
  opacity: 0;
  filter: hue-rotate(0);
  /* color: aquamarine; */
  animation: anim 8s forwards;
}

@keyframes anim {
  to {
    top: -250px;
    left: var(--left);
    filter: hue-rotate(720deg);
    opacity: 1;
  }
}

h2 {
  text-align: center;
  top: 20px;
  font-size: 10rem;
  opacity: 0.5;
}
